.container1 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.container2 {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  align-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  }

#textbox{
  width: 300px;
  height: 40px;
}  

#demo{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;


}